<!DOCTYPE html>
<html>
<head>
    <title>Shishir Singh</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
 <link rel="stylesheet" type="text/css" href="/css/resume.css">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="utf-8">

<body>
<header id="body-header">
	<nav>
		<ul class="center-things" style="padding-top: 20px;">
			<li ><a href="#">Home</a></li>
			<li id="aboutsection" ><a href="#about">About</a></li>
			<li id="skillssection" ><a href="#skills">skills</a></li>
			<li id="educationsection" ><a href="#education">Education</a></li>
			<li id="workexperiencesection" ><a href="#work-experience">Projects</a></li>
			<li id="portfoliosection"><a href="#portfolio">Portfolio</a></li>
			<li id="contactsection"><a href="#contact">Contact</a></li>
	   </ul>
	 </nav>

	<h1 id="my-name"> Hi, I'm SHISHIR ;)</h1>
	<h2 id="my-desc"> I design and build web applications</h2>
	<ul id="social-links">
		<!--<li><a href="https://www.linkedin.com/in/shishir-singh-664467190/"><img src="static/linkedinicon.jpg" height="30px"></a></li>-->
		<li><a href="https://www.linkedin.com/in/shishir-singh-664467190/"><i class="fab fa-linkedin-in"></i></a></li>

		<li><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fas fa-mail-bulk"></i></a></li>
		
		<li><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><i class="fab fa-stack-overflow"></i></a></li>

		<li><a href="https://www.facebook.com/shishir.singh.524934"><i class="fab fa-facebook-f"></i> </a></li>

		<li><a href="https://www.quora.com/profile/Shishir-Singh-143"><i class="fab fa-quora"></i></a></li>

	</ul>
	
</header>
<main>
	<section id="about">
		  <div class="image1">
			<img src="/images/myimg1.jpg" class="myimage" style="margin-bottom: 20px;">
		  </div>
		<p>Hey there! I'm Shishir. I'm a 19-year-old full stack web developer and  programmer living in pune,INDIA. I make web applications, usually with Node js. With every line of code, I strive to make the web a beautiful place. I'm looking for open-source projects to help, and people to collaborate with! I love tinkering with the JAMstack!
		</p>
	</section>

	<section id="skills">
		
    <header>
    	<span>
    		<i class="fab fa-bitbucket"></i>
    	</span>
    	<span>SKILLS</span>
    </header>

    
	<div class="skills-display" id="skills-acquired">
		<div class="skill-progress">
			<div class="eigthy-five-percent mb-orange" data-bar-width="85">
				<div class="skill-name">C++</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="seventy-five-percent mb-orange" data-bar-width="75">
				<div class="skill-name">HTML</div>
			 </div>
		</div>
		<div class="skill-progress">
			<div class="eighty-percent mb-orange" data-bar-width="80">
				<div class="skill-name">Javascript</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="seventy-five-percent mb-orange" data-bar-width="75">
				<div class="skill-name">NodeJs</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="eighty-percent mb-orange" data-bar-width="80">
				<div class="skill-name">Mongo-Db</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="seventy-five-percent mb-orange" data-bar-width="75">
				<div class="skill-name">CSS</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="eigthy-five-percent mb-orange" data-bar-width="85">
				<div class="skill-name">SASS</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="eigthy-five-percent mb-orange" data-bar-width="85">
				<div class="skill-name">Jquery</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="sixty-five-percent mb-orange" data-bar-width="65">
				<div class="skill-name">AJAX</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="eigthy-five-percent mb-orange" data-bar-width="85">
				<div class="skill-name">Java</div>
			</div>
		</div>
		<div class="skill-progress">
			<div class="sixty-five-percent mb-orange" data-bar-width="65">
				<div class="skill-name">Express</div>
			</div>
		</div>

	</div>


	</section>
 
  <section id="education">
    
  <h1 class="education-header">
      <span><i class="fas fa-graduation-cap"></i></span>
      <span>Education</span>
    </h1>
         <div class="timeline ">
          <div class="timeline-box">
            
           <img src="/images/kvlogo.png">
          
            <h2>Kendriya Vidyalaya Ganeshkhind</h2>
            <h3>10th AISSCE</h3>
            <p id="duration">2016 - 2017</p>

            <p>Scored 10 CGPA in CBSE class 10th board examinations </p>
          

          </div>
          <div class="timeline-box">
              <img src="/images/kvlogo.png">
          
            <h2>Kendriya Vidyalaya Ganeshkhind</h2>
            <h3>12th AISSCE</h3>
            <p id="duration">2018 - 2019</p>

            <p>Scored 91% in CBSE class 12th board examinations </p>
          </div>
            <div class="timeline-box">
                <img src="/images/bitlogo.jpg">
          
            <h2>Birla Institute Of Technology, Mesra</h2>
            <h3>BTECH - CSE</h3>
            <p id="duration">2019 - present</p>

            <p>I'm a second year student, persuing BTECH in computer science. Expected to graduate in 2023</p>
            </div>


            <div class="timeline-divider">
               <div class="timeline-traveller"><i class="fas fa-plane 
               " style="color:blue;"></i></div>
             </div>

            </div>

  </section>



	<section id="work-experience">
		
		<h1 class="experience-header">
			<span><i class="fas fa-briefcase"></i></span>
			<span>Projects</span>
		</h1> 

         <div class="timeline ">
         	<div class="timeline-box">
         		
           <img src="images/codial.jpg" style="height: 4rem; width: 7rem; margin-left: 4rem">
          
           	<h2>Codial</h2>
           	<h3>a social media app</h3>
           	<p id="duration">sept 2020 - Dec 2020</p>

            <p>Codial is a simple real world application where users can post something, comment on others posts, like each others post or comment and also chat with each other.  </p>
			<p>Built the UI of the app: the guest page, the home dashboard, profile page, create post, single post screen and more. Implemented authentication(manual and google oauth) login and signup for users. Built models for database and connecting database to server. Built live chat using socket.IO.
				Added validators and security features to the project.
			</p>
            <p><strong>Tech-stack used:</strong> HTML, CSS, Bootstrap, Ejs, Javascript, Node js, Express js, Mongo-Db, socket.io</p>
			<p><a href="https://github.com/shishir474/codial" target="_blank">Github Link</a></p>

         	</div>
         	<div class="timeline-box">
         		  <img src="/images/todoist.png">
          
           	<h2>Todoist</h2>
           	<h3>An app which tracks all your todos</h3>
           	<p id="duration">Aug 2020 - Aug 2020</p>

            <p>Todoist is a simple web application which is used to keep track of user's daily activity. A user can add tasks in his list of todos, can update it, and also can delete it </p>
			<p>Implemented simple CRUD operation which allow users to add, delete or update the tasks</p>
			<p><strong>Tech-stack used:</strong> HTML, CSS, Bootstrap, Ejs, Javascript, Node js, Express js, Mongo-Db</p>
         	</div>
            <div class="timeline-box">
            	  <img src="/images/contactapp.png">
          
           	<h2>Contact App</h2>
           	<h3>An app that stores all your contacts</h3>
           	<p id="duration">June 2020 - June 2020</p>

            <p>I've built a Contact Application which can be used by a user to store contact numbers in their respective local storage and also provide a simple way to delete them too. This is kind of a basic phone book application.</p>
			<p>Created the registration and login activities. Connected to the database and stored the registration details in the database.
				In Login Activity, checked if the inserted data matches with database or not.</p>
			<p><strong>Tech-stack used:</strong> HTML, CSS, Bootstrap, Ejs, Javascript, Node js, Express js, Mongo-Db</p>
            </div>


            <div class="timeline-divider">
            	 <div class="timeline-traveller"><i class="fas fa-plane 
            	 " style="color:blue;"></i></div>
             </div>

            </div>
        
	</section>

	<section id="portfolio">

		    <div id="portfolio-header">
                <span>	
                	<i class="fas fa-archway"></i>
               </span>
                <span>Portfolio</span>
            </div>
            <div id="container">
   
 
               <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png" class="image">
             	
                 <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">
                <img src="https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png">

        
                <img src=" https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                <img src=" https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png">
                <img src=" https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png" class="content_img">
      
                 <div class="hide">I am shown when someone hovers over the div above.</div>
               
    
            </div>
	</section>
	<section id="contact">
		         <div id="contact-header">
              <span>
              <i class="far fa-address-card"></i>
                   </span>
                <span>Contact</span>
            </div>
            
            <div id="form">
            	<!--here the catch is  background of input box is set and its border-top,left,right are set to none to make them invisible. placeholder is also visible.for textarea opening and closing tags should be on the same line only then placehlder will be visible--> 
				<form action="/create" id="form-design" method="POST">
				 <i class="far fa-user fa-2x" style="color: white;"></i>
                  <input type="text" name="name" placeholder=" Your Name" required><br><br>
				  <i class="far fa-envelope fa-2x" style="color: white;"></i>
                  <input type="email" name="email" placeholder="Your Email" required><br><br>
				  <i class="far fa-comment fa-2x" style="color: white; position: relative; top: -9rem;"></i>
                  <textarea rows="5" cols="30" name="message" placeholder="Type message..."></textarea><br>
                  <br>
                
                  <button type="submit" class="btn">
                      SEND MESSAGE
                  </button>
                </form>                  
            </div>
       
                  <div id="contact-me">
                  	     <aside>
							<h2 style="font-size:2rem; margin-bottom: 19px;" >Get in touch</h2>
								<p style="font-size:1.5rem;">
									Please fill out the quick form and we will be in touch with lightning speed.
								</p>
								<h2 style="font-size:2rem;">My Address</h2>
								<div>
									<span class="icons"><i class="fas fa-globe-africa"></i><span>
									<span style="font-size:1.5rem;"> Pune,India</span>
								</div><br>
								<div>
									<span class="icons">   <i class="fas fa-phone-alt fa-1.5x"></i></span>
									<span style="font-size:1.5rem;">7558313867</span>
								</div><br>
								<div>
									<span class="icons"><i class="far fa-envelope"></i></span>
									<span style="font-size:1.5rem;">shishirsinghvaranasi@gmail.com</span>
								</div>
								<br><br>
					
                		</aside>
                  </div>

                  <ul id="contact-lists">
                  	<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                   	<li><a href=""><i class="fab fa-google-plus"></i></a></li>
   	       	       	<li><a href=""><i class="fab fa-stack-overflow"></i></a></li>
   	       	       	<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
   	       	       	<li><a href=""><i class="fab fa-quora"></i></a></li>
                  </ul>
              
       
    
	</section>

</main>

<script src="/js/demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>